$prefix-filename:         "fileName";
$prefix-font-name:        "fontName";
$prefix-font-family:      "fontFamily";
$prefix-font-weight:      "fontWeight";
$prefix-font-path:        "../fonts" !default;
$prefix-font-size-base:   24px !default;
$prefix-css-prefix:       prefix !default;
$prefix-version:          "-.-.-" !default;

$prefix-icons: ();